@use "../../scss/style.scss" as *;

.list {
  @include flexCenterAlign(row);
  gap: 34px;

  @include breakpoint(mobile) {
    flex-direction: column;
    gap: 16px;
  }
}

.navlink {
  font-weight: 700;
  font-size: 13px;
  color: $white;
  letter-spacing: 2px;
  @include hoverTransition(color);

  &:hover {
    color: $orange;
  }
}

.navlink--active {
  color: $orange;
}
