@use "../../../scss/style.scss" as *;

.productsSection {
  margin-top: 168px;
}

.zx9Article {
  position: relative;
  padding: 133px 95px 124px 0;
  color: $white;
  border-radius: 8px;
  margin-bottom: 200px;
  background: $orange url("./images/desktop/pattern-circles.svg") no-repeat -154px -40px;
  overflow: hidden;

  @include breakpoint(tabletLarge) {
    padding: 52px 24px 64px;
    background: $orange url("./images/desktop/pattern-circles.svg") no-repeat
      50% 95%;
  }

  @include breakpoint(mobile) {
    background-position: 50% -145px;
    background-size: cover;
  }
}

.zx9Article__flex {
  @include breakpoint(tabletLarge) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  @include breakpoint(tabletLarge) {
    gap: 32px;
  }
}

.zx9Article__image {
  position: absolute;
  max-width: 380px;
  width: 100%;
  object-fit: contain;
  bottom: -12px;
  font-size: 4.6875rem;
  left: clamp(4.6875rem, -29.0625rem + 50vw, 8.125rem);
  width: 100%;

  @include breakpoint(tabletLarge) {
    position: static;
    max-width: 190px;
  }

  @include breakpoint(mobile) {
    max-width: 160px;
  }
}

.infoWrapper {
  max-width: 350px;
  margin-left: auto;

  @include breakpoint(tabletLarge) {
    margin-left: 0;
    text-align: center;
  }
}

.zx9Article__name {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 24px;

  @include breakpoint(mobile) {
    font-size: 32px;
    line-height: 40px;
    max-width: 230px;
    margin-inline: auto;
  }
}

.zx9Article__description {
  opacity: 0.75;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}

.link {
  display: inline-block;
  @include buttonBlack();
}
