@use "../../scss/style.scss" as *;

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;

  @include breakpoint(tablet) {
    gap: 10px;
  }

  @include breakpoint(mobile) {
    justify-content: center;
    grid-template-columns: minmax(0, 360px);
    gap: 30px;
  }
}
