@use "../globals/colors.scss" as *;

@mixin container() {
  max-width: 1110px;
  width: 100%;
  margin-inline: auto;
}

@mixin flexCenterAlign($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

@mixin hoverTransition($property) {
  transition: $property 200ms ease-in-out;
}

@mixin buttonOrange() {
  border: none;
  font-size: 13px;
  padding: 15px 30px;
  letter-spacing: 1px;
  background-color: $orange;
  color: white;
  cursor: pointer;
  @include hoverTransition(background-color);

  &:hover {
    background-color: $lightOrange;
  }
}
