@use "../globals/colors.scss" as *;
@use "../util/breakpoints.scss" as *;

@mixin container() {
  max-width: 1110px;
  width: 100%;
  margin-inline: auto;
}

@mixin flexCenterAlign($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

@mixin hoverTransition($property) {
  transition: $property 200ms ease-in-out;
}

@mixin buttonOrange() {
  border: none;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 30px;
  line-height: 17.76px;
  letter-spacing: 1px;
  background-color: $orange;
  color: white;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: $lightOrange;
  }
}

@mixin buttonTransparent() {
  @include buttonOrange;
  border: 1px solid $black;
  background-color: transparent;
  color: $black;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

@mixin buttonBlack {
  @include buttonTransparent;
  background-color: $black;
  color: $white;
  transition: border-color 200ms ease-in-out, background-color 200ms ease-in-out;

  &:hover {
    background-color: $tundora;
    border-color: $tundora;
  }
}

@mixin description($color) {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: $color;
}

@mixin heading($color) {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: $color;

  @include breakpoint(mobile) {
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
  }
}

@mixin label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: -0.21px;
  margin-bottom: 9px;
}

@mixin input {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: -0.25px;
  color: $black;
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}
