@use "../../../scss/style.scss" as *;

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 24px;

  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }
}

.checkout {
  padding: 48px;
  border-radius: 8px;
  background-color: $white;

  @include breakpoint(tablet) {
    padding: 30px 28px;
  }

  @include breakpoint(mobile) {
    padding: 24px 24px 30px;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 1px;
    }
  }
}

.legend {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.93px;
  color: $orange;
}

.label {
  @include label;

  &:has(+ .input:focus:not(:placeholder-shown):invalid) {
    color: $red;
  }
}

.inputWrapper {
  position: relative;
}

.warning {
  display: none;
  position: absolute;
  top: 3px;
  right: 0;
  color: $red;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: -0.21px;
  margin-left: auto;
}

.input {
  @include input;

  &:focus {
    outline: 1px solid $orange;
    caret-color: $orange;
  }

  &:focus:not(:placeholder-shown):invalid {
    outline: 2px solid $red;
  }

  &:focus:not(:placeholder-shown):invalid + .warning {
    display: block;
  }
}
