@use "../../scss/style.scss" as *;

.cathegories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;

  @include breakpoint(tablet) {
    gap: 10px;
  }

  @include breakpoint(mobile) {
    justify-content: center;
    grid-template-columns: minmax(0, 360px);
    gap: 70px;
  }
}

.cathegory {
  padding-top: 70px;

  &:hover .redirect__icon {
    transform: translateX(5px);
  }
}

.cathegory__article {
  position: relative;
  text-align: center;
  width: 100%;
}

.cathegory__info {
  padding: 88px 0 22px;
  border-radius: 8px;
  background-color: $seaShell;
}

.cathegory__name {
  color: $black;
  font-size: 18px;
  letter-spacing: 1.3px;
  margin-bottom: 15px;

  @include breakpoint(tablet) {
    font-size: 15px;
    letter-spacing: 1.07%;
    margin-bottom: 17px;
  }
}

.redirect {
  font-weight: 700px;
  font-size: 13px;
  letter-spacing: 1px;
  color: $black;

  span {
    opacity: 0.5;
  }
}

.redirect__icon {
  margin-left: 13px;
  @include hoverTransition(transform);
}

.cathegory__image {
  display: block;
  max-width: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35%;
}
