@use "../../../../scss/style.scss" as *;

.recommendedProduct {
  text-align: center;
}

.recommendedProduct__image {
  width: 100%;
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    margin-bottom: 32px;
  }
}

.recommendedProduct__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32.8px;
  letter-spacing: 1.7px;
  color: $black;
  margin-bottom: 32px;
}

.recommendedProduct__link {
  @include buttonOrange();
  display: inline-block;
}
