@use "../../scss/style.scss" as *;

.product {
  display: flex;
  align-items: center;
  gap: 125px;
  margin-bottom: 160px;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .product__image {
      grid-area: 1 / 1 / 2 / 2;
    }

    .image__placeholder {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}

.product__status {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  color: $orange;
  margin-bottom: 16px;
}

.product__name {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: $black;
  margin-bottom: 32px;
}

.product__description {
  @include description($black);
  opacity: 0.5;
  margin-bottom: 40px;
}

.product__link {
  display: inline-block;
  @include buttonOrange;
}

.product__image {
  max-width: 540px;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 27 / 28;
  object-fit: cover;
}

.image__placeholder {
  @extend .product__image;
  background-color: $seaShell;
}

.product__info {
  max-width: 445px;
}
