@use "../../scss/style.scss" as *;

.backdrop {
  display: none;

  @include breakpoint(tablet) {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.373);
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
