@use "../../../../../scss/style.scss" as *;

.addProduct {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 47px;
}

.changeAmount {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 120px;
  height: 48px;
  text-align: center;
  background-color: $seaShell;
}

.changeAmount__amount {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 17.7px;
  font-weight: 700;
}

.changeAmount__button {
  @extend .changeAmount__amount;
  height: 100%;
  border: none;
  background-color: transparent;
  color: $black;
  opacity: 0.25;
  cursor: pointer;
  transition: color 100ms ease-in-out, opacity 100ms ease-in-out;

  &:not(:disabled) {
    &:hover {
      color: $orange;
      opacity: 1;
    }
  }

  &:disabled {
    cursor: auto;
    color: $black;
  }
}

.addProduct__button {
  @include buttonOrange();
}
