@use "../../../scss/style.scss" as *;

.heroSection {
  padding: 0 40px;
  margin-bottom: 96px;
  background-color: $codGray;
  position: relative;
  z-index: 1;

  @include breakpoint(mobile) {
    padding: 0 24px;
  }
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper {
  padding: 128px 0 158px;

  @include breakpoint(tablet) {
    padding: 126px 0 167px;
  }
}

.heroImage {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 117%;
    top: -17%;
    z-index: -1;
    left: 0;
    background: url("./images/hero-desktop.jpg") center/contain no-repeat;

    @include breakpoint(tablet) {
      background: url("./images/hero-tablet.jpg") center/contain no-repeat;
      width: 100%;
    }

    @include breakpoint(mobileSmall) {
      background: url("./images/hero-mobile.jpg") center/contain no-repeat;
      width: 100%;
    }
  }
}

.heroArticle {
  max-width: 395px;
  color: $white;

  @include breakpoint(tablet) {
    text-align: center;
    margin-inline: auto;
  }
}

.heroArticle__info {
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 10px;
  font-size: 14px;
  margin-bottom: 24px;

  @include breakpoint(mobile) {
    margin-bottom: 16px;
  }
}

.heroArticle__name {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 56px;
  margin-bottom: 24px;
  line-height: 58px;

  @include breakpoint(mobile) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.3px;
  }
}

.heroArticle__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
  opacity: 0.75;
}

.heroArticle__link {
  display: inline-block;
  @include buttonOrange();
}
